<div class="embed-responsive embed-responsive-16by9">
    <div class="image-loader embed-responsive-item">
        <i class="icon-widgets-spin4 animate-spin"></i>
    </div>
    <img src="/images/start.webp" class="embed-responsive-item" alt=""/>
</div>